<section class="relative py-32 w-[80vw] mx-auto mt-20 rounded-2xl overflow-hidden">
  <img
    src="assets/images/CTA.png"
    class="absolute inset-0 w-[100%] h-full object-cover"
  />

  <div class="absolute inset-0 bg-black/60"></div>

  <div class="relative max-w-5xl mx-auto px-6 text-center text-white">
    <h2 class="text-4xl lg:text-5xl font-bold leading-tight mb-10">
      You can contribute to provide a place <br />
      for children with special needs!
    </h2>

    <div class="flex flex-col sm:flex-row gap-6 justify-center">
      <button
        class="bg-[#FCD34D] text-black font-semibold px-10 py-4 rounded-md hover:bg-yellow-300 transition"
      >
        Join as a volunteer
      </button>

      <button
        class="bg-white text-black font-semibold px-10 py-4 rounded-md hover:bg-gray-100 transition"
      >
        Donate
      </button>
    </div>
  </div>
</section>