<section class="projects">
  <div class="projects__container">
    <div class="projects__kicker">
      <span class="projects__line"></span>
      <span class="projects__label">Projects we have done</span>
    </div>

    <h2 class="projects__title">
      We are creating a place <br />
      where children with special <br />
      needs can thrive
    </h2>

    <div class="projects__grid">
      <div class="project-card">
        <img src="assets/images/projects1.png" class="project-card__img" />
        <div class="project-card__overlay"></div>
        <div class="project-card__content">
          <h3 class="project-card__title">
            Mission smile 1k: <br /> Outdoor charity
          </h3>
          <p class="project-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          </p>
          <button class="project-card__btn">Learn more</button>
        </div>
      </div>

      <div class="project-card">
        <img src="assets/images/projects2.png" class="project-card__img" />
        <div class="project-card__overlay"></div>
        <div class="project-card__content">
          <h3 class="project-card__title">Weekly excursions</h3>
          <p class="project-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          </p>
          <button class="project-card__btn">Learn more</button>
        </div>
      </div>

      <div class="project-card">
        <img src="assets/images/projects3.png" class="project-card__img" />
        <div class="project-card__overlay"></div>
        <div class="project-card__content">
          <h3 class="project-card__title">
            Monthly public <br /> awareness
          </h3>
          <p class="project-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
          </p>
          <button class="project-card__btn">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</section>
